@model IEnumerable<DataAccess.Model.Restaurant>

@{
    ViewData["Title"] = "خوشمزه پزی ها";
}
<section style="background-image: url(images/food_banner.jpg);">
    <div class="container">
        <div class="row justify-content-center align-items-center" data-scrollax-parent="false">
            <div class="col-md-12 col-sm-12 text-center ftco-animate">
                <div style="text-shadow: #111 5px 0px 10px;">
                    <h1 class="mb-4 mt-5 pt-5 text-white ">خوشمزه پزی ها</h1>
                </div>

                <div class="input-group pb-3 ml-auto mr-auto col col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3">
                    <div class="input-group-prepend">
                        <div class="form-control input-group-text" id="btnGroupAddon">
                            <i class="icon-search"></i>
                        </div>
                    </div>
                    <input type="search" class="input-group-text form-control search-form" placeholder="دنبال کدوم خوشمزه پزی هستی" aria-describedby="btnGroupAddon" />
                </div>
            </div>

        </div>
    </div>
</section>

    <div class="row">
        <div class="col col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3">
            <section class="ftco-section">
                <div class="container">
                    <div class="row justify-content-center mb-5 pb-2">
                        <div class="col-md-7 text-center heading-section ftco-animate">
                            <h2 class="mb-4">فیلتر ها</h2>
                        </div>
                    </div>

                </div>
            </section>
        </div>
        <div class="col col-12 col-sm-12 col-md-6 col-lg-8 col-xl-9">
            <section class="ftco-section">
                <div class="container">
                    <div class="row justify-content-center mb-5 pb-2">
                        <div class="col-md-7 text-center heading-section ftco-animate">
                            <span class="subheading">خوشمزه پزی ها</span>
                            <h2 class="mb-4">رستوران ها</h2>
                        </div>
                    </div>

                    @await Component.InvokeAsync("RestaurantsList")

                </div>
            </section>
        </div>
    </div>

